
<div class="row detail">
    <div class="col-lg-3 left-panel d-flex justify-content-center align-items-center">
        <a href="/news" class="btn btn-warning" role="button"> Back </a>
    </div>
    <div class="col-lg-9 right-panel">
        <h3> {{ course.name }} </h3>
        <p> {{ course.description }} </p>
    </div>
</div>