<div class="row footer" >
    <div class="col-4">
        Learn Tech Tips
    </div>

    <div class="col-4">
        <ul>
            <li> Author: Zidane </li>
            <li> Email: huuvi168@gmail.com </li>
            <li> Blog spot: https://learn-tech-tips.blogspot.com </li>
        </ul>
    </div>

    <div class="col-4">
        Subscribe us
    </div>
</div>