

<div class="container" style="border: 1px solid blue">
    <div class="row">
        <div class="col-md-6">
            Hello col 1
        </div>
        <div class="col-md-6">
            Hello col 2
        </div>
    </div>

    <div>
        <div class="col-md-12">
            {{  content }}
        </div>
    </div>
</div>
